$orange: rgba(255,100,0,1);

.new-segment-input {
  margin: 25px 5px 0 25px;
  padding: 5px;
  border: 1px solid $orange;
  background: none;
  color: #fff;
}

.new-segment-input::placeholder {
  color: #aaa;
}

.new-segment-button {
  background: none;
  border: none;
  color: $orange;
  cursor: pointer;
  font-size: 1.2em;
}

.error-message {
  margin: 5px 0 0 25px;
  font-size: .8em;
  color: rgb(255, 0, 0);
}
