main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  width: 94%;
  min-height: 400px;
  border: 1px solid #fff;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(255,100,0,0.2));
}