.header-container {
  text-align: center;
  height: 100px;
  border-bottom: 2px solid #fff; }
  .header-container .welcome {
    float: right;
    margin-top: 40px;
    margin-right: 5px;
    color: #fff; }
  .header-container .profile-img {
    float: right;
    clear: both;
    margin-right: 20px;
    border-radius: 50%;
    border: 2px solid #fff; }
  .header-container .page-title {
    margin: 35px auto 0 auto;
    padding: 11.5px;
    width: 90%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    letter-spacing: 2px;
    background: #ff6400;
    /*For browsers that don't support gradients*/
    background: linear-gradient(to right, transparent, #ff6400);
    color: #fff;
    font-size: 2.2em; }
  .header-container .cog {
    color: #ff6400; }

@media only screen and (max-width: 424px) {
  .header-container {
    position: relative;
    height: 150px; }
  .header-container .page-title {
    height: 84%;
    width: 98%;
    margin: 0; }
  .welcome {
    position: absolute;
    right: 0;
    bottom: 0; }
  .profile-img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px; } }

@media only screen and (max-width: 380px) {
  nav {
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 0 !important; }
  a {
    margin: 5px 0 !important;
    text-align: center;
    min-width: 130px; } }
