.header-container {
  text-align: center;
  border-bottom: 1px solid #000; }
  .header-container .welcome {
    float: right;
    clear: both; }
  .header-container .profile-img {
    float: right;
    clear: both; }
