$orange: rgba(255,100,0,1);

.header-container {
  text-align: center;
  border-bottom: 2px solid #fff;
  height: 100px;

  .welcome {
    color: #fff;
    margin-top:40px;
    margin-right: 5px;
    float: right;
  }

  .profile-img {
    border: 2px solid #fff;
    margin-right: 20px;
    border-radius: 50%;
    float: right;
    clear: both;
  }

  .page-title {
    color: #fff;
    font-size: 2.2em;
    letter-spacing: 2px;
    background: $orange;  /*For browsers that don't support gradients*/
    background: linear-gradient(to right, rgba(0,0,0,0), $orange);
    width: 90%;
    margin: 35px auto 0 auto;
    padding: 11.5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .cog {
    color: $orange;
  }
}

@media only screen and (max-width: 424px) {
  .header-container {
    height: 150px;
    position: relative;
  }

  .header-container .page-title {
    height: 84%;
    width: 98%;
    margin: 0;
  }

  .welcome {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .profile-img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 380px) {
  nav {
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 0 !important;
  }

  a {
    margin: 5px 0 !important;
    text-align: center;
    min-width: 130px;
  }
}