.header-container {
  text-align: center;
  border-bottom: 2px solid #fff;
  height: 100px;
  /*  background-image: url('../../assets/topo.png');
*/ }
  .header-container .welcome {
    color: #fff;
    margin-top: 40px;
    margin-right: 5px;
    float: right; }
  .header-container .profile-img {
    border: 2px solid #fff;
    margin-right: 20px;
    border-radius: 50%;
    float: right;
    clear: both; }
  .header-container .page-title {
    color: #fff;
    font-size: 2.2em;
    letter-spacing: 2px;
    background: #ff6400;
    /*For browsers that don't support gradients*/
    background: linear-gradient(to right, transparent, #ff6400);
    width: 90%;
    margin: 35px auto 0 auto;
    padding: 11.5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; }
  .header-container .cog {
    color: #ff6400; }
