.badge {
  height: 75px;
  width: 75px;
  position: relative;
  border-radius: 100%;
  overflow: hidden; }
  .badge .badge-icon {
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    z-index: 100;
    width: 65%;
    height: auto; }
  .badge .badge-inner {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: orange; }
  .badge .logo {
    z-index: 1;
    width: 400%;
    height: auto; }
