.badge-main-container {
  align-items: flex-start;
  justify-content: flex-start; }

.full-badge-wrapper {
  margin: 25px;
  display: inline-block;
  text-align: center;
  display: relative;
  width: 80px; }

.badge-card-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.badge {
  margin: 0 auto;
  height: 55px;
  width: 55px;
  position: relative;
  border-radius: 100%;
  border: 1px solid #fff;
  overflow: hidden; }
  .badge .badge-icon {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    z-index: 100;
    width: 65%;
    height: auto; }
  .badge .badge-inner {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ff6400; }
  .badge .logo {
    z-index: 1;
    width: 400%;
    height: auto; }

.type {
  color: #fff;
  margin: 0; }

.info {
  display: none;
  color: white; }

.badge:hover ~ .info {
  padding: 5px;
  border: 1px solid white;
  display: block; }

.badge:hover {
  background: #fff; }

.details {
  text-align: left;
  display: block;
  margin: 5px;
  font-size: .8em; }
