$orange: rgba(255,100,0,1);
.badge-main-container {
  align-items: flex-start;
  justify-content: flex-start;
}

.badge-card {
  max-width: 260px;
}

.full-badge-wrapper {
  display: inline-block;
  position: relative;
  margin: 25px;
  width: 80px;
  text-align: center;
}

.badge-card-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.badge {
  position: relative;
  margin: 0 auto;
  height: 80px;
  width:  80px;
  overflow: hidden;
  border-radius: 100%;
  border: 2px solid #fff;

  .badge-icon {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width:65%;
    height: auto;
    text-align: center;
    color: #fff;
  }
  
  .badge-inner {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: $orange;
  }

  .logo {
    z-index: 1;
    width: 400%;
    height: auto;
  }
}

.type {
  margin: 0;
  color: #fff ;
}

.info {
  display: none;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: #fff;
}

.badge:hover~.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  padding: 10px;
  z-index: 2;
  border: 2px solid #fff;
  background: $orange;
}

.badge:hover :nth-child(1) {
  width: 90%;
  opacity: 0;
}

.details {
  display: block;
  margin: 5px;
  text-align: left;
  font-size: .8em;
}