@import url('https://fonts.googleapis.com/css?family=Archivo|Rosario');

body, html {
  font-family: 'Archivo', sans-serif;
}

nav {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

a {
  padding:5px;
  margin:10px;
  color: black;
  border: 1px solid orange;
  border-radius: 5px;
  text-decoration: none;
}

.selected {
  color: orange;
  border: 3px solid orange;
}
