@import url("https://fonts.googleapis.com/css?family=Archivo|Rosario");
body, html {
  font-family: 'Archivo', sans-serif; }

nav {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 35px auto 0 auto; }

a {
  padding: 7px 5px 5px 5px;
  margin: 10px;
  color: #fff;
  border: 1px solid #ff6400;
  border-radius: 5px;
  text-decoration: none; }

.selected {
  padding: 5px 5px 7px 5px;
  color: #ff6400;
  border: 3px solid #ff6400; }
